* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e2d2;
}

.header {
    padding-top: 109px;
    text-align: center;
    display: flex;
    left: 0;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

.header_content {
    max-width: 570px;
}

.header_content>h1 {
    font-size: 40px;
    font-weight: 700;
}

.header_content>p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 65px;
}

.card_container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
}

.card__content>h3 {
    padding-top: 20px;
}

.card__content>p {
    opacity: 0.9;
    color: grey;
}

.card_container:hover {
    cursor: pointer;
}